@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans:wght@300;400;500;600;700;900&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@30..200,24&display=swap");

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.categories {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.categories div {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}

.categories div ul {
    padding: 0;
    margin: 0;
}

.categories div li {
    padding: 5px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    width: 100%;
    padding: 10px;
    text-align: center;
}
