@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans:wght@300;400;500;600;700;900&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@30..200,24&display=swap");

body {
    font-family: "Inter";
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

/* Projects */
.projects {

    margin: 20px;
    display: block;
    margin: auto;
    width: 50%;
}
.projects p {
    padding-left: 15px;
    padding-right: 15px;
}
.projects h2 {
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;
}

/* About */
.about {
    margin: 20px;
    display: block;
    margin: auto;
    width: 50%;
}
.about p {
    padding-left: 15px;
    padding-right: 15px;
}
.about h2 {
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;
}

/* Friend */
.friends {
    margin: 20px;
    display: block;
    margin: auto;
    width: 50%;
}
.friends h2 {
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;
}
.friends p {
    text-align: center;
}
.link {
    color: green;
    text-decoration: none;  
}
.link:hover {
    text-decoration: underline;  
}


/* Footer */
footer {
    width: 100%;
    border-top: 2px solid white;
}
footer p {
    text-align: center;
}