@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans:wght@300;400;500;600;700;900&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@30..200,24&display=swap");

body {
    font-family: "Inter";
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Footer */
footer {
    width: 100%;
}
footer p {
    text-align: center;
    color: white;
}